@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');


body {
    text-align: center;
    font-family: "Slackey", sans-serif;
    background-color: #FAEFD6;
}

p {
    margin-top: -1rem;
    font-size: 1.5rem;
    color: #000000;
}

h1 {
    font-size:5rem;
    color: #FF8C37;
}

.gaegu {
    font-family: "Gaegu", sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 60vw;
    max-width: 30rem;
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.5;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front,.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #FF8C37;
    color: #FAEFD6;
}

.card-back {
    background-color: rgb(9, 175, 180);
    color: #FAEFD6;
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}



@media screen and (max-width: 1024px){
    h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 5rem;
    }
}